name: Deploy Docker Image

# Run workflow on push to main branch
on:
  push:
    branches: [main]

jobs:
  docker-deploy:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout the repository
      - name: Checkout repository
        uses: actions/checkout@v4

      # Step 2: Log in to Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Step 3: Pull and run your Docker image
      - name: Pull Docker image
        run: |
          docker pull sachita3112/my-app:latest
          docker run -d -p 5000:5000 sachita3112/my-app:latest
